@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: none;
  outline-style: none;
}

body {
  background-color: var(--Pale-blue);
  font-weight: 500, 700, 900;
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.card-container {
  align-items: center;
  background-color: var(--Very-pale-blue);
  width: 21%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-bottom: 25px;
}

img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 25px;
}

p {
  
}

h3 {
  color: var(--Dark-blue);
}

h5 {
  color: var(--Desaturated-blue);
  padding: 0 18px 25px;
}

.plan-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-1 {
}

.icon {
  display: flex;
  flex-direction: row;
  border: 0;
}
.text {
  display: flex;
  flex-direction: row;
}

.text2 {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  color: var(--Bright-blue);
}

.plan-option2 {
  padding-bottom: 10px;
}

.button-2 {
  width: 85%;
  background-color: var(--Bright-blue);
  color: var(--Very-pale-blue);
  border-radius: 8px;
  border: 0;
  padding: 10px;
}
